// screen sizes
$desktop: 1280px;
$desktop-sm: 1024px;
$tablet: 768px;
$tablet-sm: 640px;
$mobile: 480px;
$mobile-sm: 320px;

// colors
$line-color: #e6e6ee;
$border-color: #e8e8f0;
$main-color: #8d76b2;
$text-color: #28282d;

// some sizes
$menu-height: 1080px;
$z-index-menu: 5;
