.container {
  max-width: 1560px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}

.container__left,
.container__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.container__left {
  margin-right: auto;
}

.container__right {
  margin-left: auto;
}

.container-right__button {
  margin-left: 50px;
}

@media (max-width: 920px) {
  .container__right,
  .container__left {
    width: 100%;
  }

  .container__right {
    order: -1;
  }

  .container-right__button {
    margin-left: auto;
  }
}

@media (max-width: $tablet) {
  .container__right,
  .container__left {
    margin-top: 0;
  }
}

@media (max-width: $mobile) {
  .container-right__button {
    font-size: 0;
    min-width: 40px;
    background-image: url("../images/svg/microphone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
}
