.favorites {
  position: relative;
  height: 40px;

  &--shown .favorites__list {
    display: block;
  }
}

.favorites__button {
  background: url("../images/icons/icon_favorites.png") no-repeat 54% 62%;
  background-size: 23px;
}

.favorites__list {
  @include reset-list;

  position: absolute;
  top: 55px;
  left: -6px;
  z-index: $z-index-menu;

  display: none;

  width: 375px;
  padding: 20px;
  padding-right: 18px;

  background-color: #ffffff;

  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.favorites__item {
  height: 50px;

  &:not(:last-of-type) {
    margin-bottom: 7px;
  }
}

.favorites__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;

  &:hover,
  &:focus-visible {
    font-weight: 700;
    letter-spacing: normal;

    .favorites__img-filter::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;

      background-color: rgba(141, 118, 178, 0.3);
    }

    svg {
      color: $text-color;
    }
  }
}

.favorites__link svg {
  margin-left: 18px;
  color: #d1d1da;
}

.favorites__link--like svg {
  color: #dda254;
}

.favorites__img-filter {
  position: relative;

  width: 50px;
  height: 50px;
  margin-right: 15px;

  border-radius: 50%;
  overflow: hidden;
}

.favorites__img {
  width: 100%;
  height: auto;
}

.favorites__title {
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 920px) {
  .favorites__list {
    left: initial;
    right: 0;
  }
}

@media (max-width: $mobile) {
  .favorites {
    position: static;
  }

  .favorites__list {
    width: auto;
    top: 114px;
    left: 0;
  }
}
